#myMap { 
    height:600px;
    z-index: 1;
}

#inicio {
    display: none; 
    position:absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 500px;
    z-index: 2;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
  }

.first {
    position: -webkit-sticky;
    position:sticky;
    top:0;
    z-index: 9;
}
.second {
    position: -webkit-sticky;
    position:sticky;
    top:0;
    z-index: 8;
}
.third {
    position: -webkit-sticky;
    position:sticky;
    top:0;
    z-index: 7;
}
.fourth {
    position: -webkit-sticky;
    position:sticky;
    top:52px;
    z-index: 6;
}
.fifth {
    position: -webkit-sticky;
    position:sticky;
    top:104px;
    z-index: 5;
}
.sixth {
    position: -webkit-sticky;
    position:sticky;
    top:156px;
    z-index: 4;
}
.seventh {
    position: -webkit-sticky;
    position:sticky;
    top:208px;
    z-index: 4;
}